@using TransporteV3.Servicios;
@model IEnumerable<TransporteV3.Entidades.Chofere>

@{
    ViewData["Title"] = "Home Page";
}
@if (User.IsInRole(Constantes.RolAdmin) || User.IsInRole(Constantes.RolStandar))
{
    <div class="container-fluid px-4">

        <div class="card-header ">
            <div class="text-center">
                <h2 class="mt-4">Bienvenido</h2>
                <ol class="breadcrumb mb-4"></ol>
            </div>
        </div>



        <div class="sb-sidenav-menu-heading"></div>
        @*submenú de Reportes*@

        <div class="dropdown">
            <h5>
                Administrar Reportes
            </h5>
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Seleccione un Reporte
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Choferes" asp-action="ReportChoferes">Reportes Choferes</a></li>
                <li><a class="dropdown-item" asp-controller="Unidades" asp-action="ReportUnidades">Reportes Unidades</a></li>
                <li><a class="dropdown-item" asp-controller="Compras" asp-action="ReportCompras">Reportes Compras</a></li>
            </ul>
        </div>

        <br>


        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <div class="carousel-inner">


                <div class="carousel-item active d-flex justify-content-center">
                    <img src="https://www.transportesmouzo.com.ar/wp-content/uploads/2020/06/d04a33c9-86b7-411b-8397-fa23f04cb3b3.jpg" class="d-block w-50" alt="...">
                </div>
                <div class="carousel-item d-flex justify-content-center">
                    <img src="https://www.transportesmouzo.com.ar/wp-content/uploads/2020/06/IMG-20190301-WA0000.jpg" class="d-block w-50" alt="...">
                </div>
                <div class="carousel-item d-flex justify-content-center">
                    <img src="https://www.transportesmouzo.com.ar/wp-content/uploads/2020/06/6a1a4729-2402-48cc-a16c-fc8e559584c5.jpg" class="d-block w-50" alt="...">
                </div>
                <div class="carousel-item d-flex justify-content-center">
                    <img src="https://www.transportesmouzo.com.ar/wp-content/uploads/2020/06/6783d92f-a3dc-484e-aa6a-f8a06191baab.jpg" class="d-block w-50" alt="...">
                </div>


            </div>



            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>


}
else
{

    <div class="container-fluid px-4">
        <div class="card-header text-center">

            <h2 class="mt-4">Advertencia</h2>
            <ol class="breadcrumb mb-4"></ol>
        </div>
        <div class="text-center">
        
        <p>No tiene permiso para ver el contenido. Póngase en contacto con su administrador para obtener los permisos necesarios.</p>
        </div>
        <div class="d-flex justify-content-center">
        <img style="height: 300px; width:500px" src="https://kdosd.com/wp-content/uploads/2022/02/Como-evitar-que-el-Error-404-afecte-a-tu-SEO-1024x643.jpeg" />
        </div>
    </div>
}